@media (max-width: 480px) {

body,html{
    max-width: 480px;
    height: auto;
}

header #menu {
    display: none;
}
header{
     
    margin-left: -15%;
    margin-top: -4%;
}
header #menu-tel {

display: flex;
}
ul{
    list-style-type: none;
}
#menu-bg{
margin-top: auto;
margin-bottom: auto;
    margin-left: 18px;
}
#rectangle1{
    width: 30px;
    height: 5px;
    border-radius: 2px;
    background-color: black;
}
#rectangle2{
    margin-top: 5px;
    width: 30px;
    height: 5px;
    border-radius: 2px;
    background-color: black;
}
#rectangle3{
    margin-top: 5px;
    width: 30px;
    height: 5px;
    border-radius: 2px;
    background-color: black;
}
#nomagence{
margin-left: auto;
margin-right: auto;
margin-top: auto;
margin-bottom: auto;
vertical-align: center;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 51px;
color: #007EA7;
}

#logo-blum-header{
position: absolute;
right: 15px;
width: 60px;
height: 50px;
float: right;
margin-top: auto;
margin-bottom: auto;
}
#grostitre{
background-color: #007EA7; 
}


 #groupe {
}
margin-left: auto;
margin-right: auto; 
font-size: 16px;
height:auto;
width: 100%;
}
.nomgroupe {
margin-left: -5%;
}

.boutonflecheD {
margin-left: -5%;
}

.nom a {
width: 100%;
}
#personne{
    width: 500px;
}

#iut img{
    height: 2em;
}
footer img{
    height: 1.5em;
}



















    

}











* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cocogoose Classic Trial', sans-serif;
    scroll-behavior: smooth;
    margin: 0px;
}

#sec-1 {
    background: #F2E9E4;
}

header {
    padding-top: 4%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 0%;
}
#menu-tel {
    display: none;
}
#menu {
    display: flex;
}

#menu .nav {
    padding-left: 1%;
    padding-right: 10%;
}

header a {
    text-transform: uppercase;
    color: #007EA7;
}

#nav1 {
    display: flex;
}

#nav2 {
    display: flex;
}

#grostitre {
    padding-top: 2%;
    padding-bottom: 0%;
    display: flex;
    width: 100%;
    height: auto;
}

#grostitre h1 {
    text-transform: uppercase;
    color: #003459;
    font-size: 6vw;
        margin-bottom: 0px;
}

#sec-2 {
    background: #007EA7;
    padding-top: 3%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 3%;
}

#groupe {
    padding-top: 3%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 3%;
    display: flex;
    text-align: center;
margin-left: auto;
margin-right: auto;
}

.nomgroupe {
    padding-left: 10%;
    padding-right: 10%;
}

.nomgroupe a {
    text-transform: uppercase;
    font-size: 1.9em;
    color: #003459;
}

#membre, #réalisation {
    display: flex;
    padding-top: 3%;
    padding-bottom: 3%;
}
#membre{
    margin-left: auto;
    margin-right: auto;
}

.boutonflecheG {
    margin-left: auto;
    vertical-align: center;
}
.boutonflecheD {
    vertical-align: center;
    transform: scaleX(-1);
    margin-right: auto;
}

#oeuvre {
    padding-left: 10%;
    padding-right: 10%;
}
#photo-membre{
    padding-left: 10%;
    padding-right: 10%;
}
.boutonfleche-membreG{
    margin-left: auto;
}
.boutonfleche-membreD{
margin-right: auto;
}
.nom {
    padding-top: 3%;
margin-left: auto;
margin-right: auto;
    padding-bottom: 3%;
    text-align: center;
}

.nom a {
    text-transform: uppercase;
    font-size: 1.3em;
    color: #003459;
    border-radius: 20px;
}

.description {
    text-align: center;
    color: #F2E9E4;
    font-weight: bold;
}

footer {
    color: #003459;
    font-weight: bold;
    background: green;
    padding-top: 4%;
margin-left: auto;
margin-right: auto;
    padding-bottom: 2%;
    display: flex;
}

footer ul {
    list-style: none;
    display:block;
    margin-top: 10%;
}

footer li {
    display: inline;
    margin-top: 5%;
}

#contact{
        text-align: center;
    margin-left: auto;
}
#reseaux{
    text-align: center;
   margin-left: auto;
margin-right: auto;
}
#iut{
        text-align: center;
    margin-right: auto;
}
footer li a {
    color: #003459;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: auto;
    margin-top: auto;
}
footer h1{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}
footer img {
    margin-right: 5%
}
