* { padding: 0; margin: 0; box-sizing: border-box; }

html { scroll-behavior: smooth; }

body { font-family: 'Cocogoose Classic Trial', sans-serif; }

.sec-1 {
    height: 775px;
    background: #F2E9E4;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    /* height: 775px; */
    height: auto;
}

.sec-1__header {
    display: flex;
    flex-flow: wrap column;
    align-items: center;
}

.sec-1__header .logo {
    margin: 0 0 150px 0;
}

.sec-1 nav {
    margin: 0 0 150px;
}

.sec-1__header a.icon {
    display: none;
}

.sec-1 .titre {
  display: none;
}
.sec-1 a {
    font-weight: 850;
    font-size: 30px;
    line-height: 33px;
    color: #007EA7;
}

.sec-1 ul {
    display: flex;
}

.sec-1 li {
    margin: 0 75px 0;
}

.scroll-button {
    cursor: pointer;
}

.sec-2 {
    height: 552px;
    background: #007EA7;
}

.sec-2__container {
    height: 552px;
}

.sec-2__header {
    display: flex;
    justify-content: flex-end;
}

h1 {
    font-weight: 850;
    font-size: 96px;
    line-height: 104px;
    color: #003459;
    opacity: 0.75;
}

.sec-2__header h1 {
    margin: 43px 2px 0 0;
}

.sec-2 main {
    margin: 0 auto;
    max-width: 1163px;
    display: flex;
    flex-flow: wrap column;
    align-items: center;
}

p {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 25px;
    line-height: 166%;
    color: #F2E9E4;
    margin-bottom: 30px;
}

.sec-3 {
    height: 775px;
    background: #F2E9E4;
}

.sec-3__header {
    display: flex;
    justify-content: flex-start;
}

.sec-3__header h1 {
    margin: 43px 0 0 2px;
}

.sec-3__main {
    display: flex;
    flex-wrap: wrap row;
    margin: 70px 0 0 208px;
}

.sec-3__main ul {
    display: flex;
    flex-flow: wrap column;
    justify-content: space-around;
}

.sec-3__main li {
    margin: 20px 10px;
    font-weight: 850;
    font-size: 32px;
    line-height: 35px;
    text-align: left;
    color: #00A8E8;
}

footer {
    height: 228px;
    background: #007EA7;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

address ul {
    display: flex;
    flex-flow: wrap column;
    align-items: center;
}

address li {
    margin: 10px 0;
}

.logo-univ ul {
    display: flex;
}

.logo-univ li {
    margin: 0 10px ;
}

.logo-univ li:nth-child(1) {
    margin-top: 10px;
}

/* Dropdown compétences - A travailler */

.dropbtn {
  position: relative;
}

.dropdown-content {
  /* position: absolute; */
  display: none;
  min-height: 50px;
  z-index: 5;
}

.dropdown-content p {
    color: #003459;
    font-weight: 600;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Animations  */

@keyframes title-zoom-in {
  from { font-size: 30px; }
  to { font-size: 35px; }
}

.sec-1__header li:hover a {
  animation-name: title-zoom-in;
  animation-duration: 1s;
  animation-timing-function: ease;
}

@media screen and (max-width: 915px) {

  h1 { font-size: 2rem; }

  .container,
  .sec-1,
  .sec-2,
  .sec-2__container,
  .sec-3,
  .sec-3__main { height: auto; }

  .sec-1 ul,
  .navbar .dropdown-content,
  .scroll-button,
  .sec-3__main ul:last-child { display: none; }

  .sec-1__header {
    display: flex;
    flex-direction: row-reverse;
  }

  .sec-1__header .titre {
      flex-grow: 1;
      display: block;
  }

  .sec-1 .titre h1 {
    font-size: 3rem;
    color: #007EA7;
    opacity: 1;
    line-height: 60px;
    text-align: center;
  }

  .sec-1__header .logo,
  .sec-1 nav,
  .sec-1 li,
  .sec-2__header h1,
  .sec-3__header h1,
  .sec-3__main { margin: 0 0; }

  .sec-1__header .logo img { width: 5rem; }

  .sec-1__header a.icon {
      display: block;
      font-size: 32px;
      padding-left: 16px;
      color: #003459;
  }

  .sec-2__header { justify-content: flex-start; }

  .sec-2 p { font-size: 1.1rem; }

  .sec-3__main {
      padding-left: 20px;
      align-content: flex-start;
      justify-content: justify;
  }

  .sec-3__main li {
      margin: 0 10px;
      font-weight: 850;
      font-size: 1.5rem;
  }

  .sec-3__main ul:nth-child(2) {
      flex-grow: 1;
      align-items: center;
  }

  .sec-3__main img { width: 44px; }

  .dropdown-content { display: block; }

  .navbar.responsive { position: relative; }

  .navbar.responsive nav ul {
    float: none;
    display: block;
    text-align: left;
  }
  .navbar.responsive nav {
      float: none;
      width: 100vw;
      height: 30%;
  }

  .navbar.responsive .dropdown-content {
      position: relative;
      display: block;
  }

  .dropdown-content a {
      float: none;
      padding: 12px 16px;
  }

  .dropdown-content p {
      font-size: 1rem;
      font-weight: 500;
      padding: 0 12px;
  }

  footer {
      display: flex;
      flex-direction: row-reverse;
  }

  .logo-univ ul { flex-direction: column; }

  .logo-univ li { margin: 5px 10px ; }

}
