.description_tel {
    display: none;
}

@media (max-width: 600px) {
    .description_tel {
        display: block;
    }

    #description,
    .description {
        display: none;
    }
}

@media (max-width: 480px) {


    body,
    html {
        background-color: #F2E9E4;
        max-width: 480px;
        height: auto;
    }

    header #menu {
        display: none;
    }

    header {

        margin-left: -15%;
        margin-top: -4%;
    }

    header #menu-tel {

        display: flex;
    }

    ul {
        list-style-type: none;
    }

    #menu-bg {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 18px;
    }

    #rectangle1 {
        width: 30px;
        height: 5px;
        border-radius: 2px;
        background-color: black;
    }

    #rectangle2 {
        margin-top: 5px;
        width: 30px;
        height: 5px;
        border-radius: 2px;
        background-color: black;
    }

    #rectangle3 {
        margin-top: 5px;
        width: 30px;
        height: 5px;
        border-radius: 2px;
        background-color: black;
    }

    #nomagence {
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        vertical-align: center;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 51px;
        color: #007EA7;
    }

    #logo-blum-header {
        position: absolute;
        right: 15px;
        width: 60px;
        height: 50px;
        float: right;
        margin-top: auto;
        margin-bottom: auto;
    }

    #grostitre {
        max-height: 5em;
        width: auto;
        align-items: center;
    }


    #groupe {
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
        height: auto;
        width: 100%;
    }

    .nomgroupe {
        margin-left: -5%;
    }

    .boutonflecheD {
        margin-left: -5%;
    }

    .nom a {
        width: 100%;
    }


    #personne {
        width: 500px;
    }

    #iut img {
        height: 2em;
    }

    footer img {
        height: 1.5em;
    }

    footer .pages {
        background: #F2E9E4;
    }

}








.logo {
    width: 5em;
    display: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cocogoose Classic Trial', sans-serif;
    scroll-behavior: smooth;
    margin: 0px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f2e9e4;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #003459;
}

::-webkit-scrollbar-thumb:hover {
    background: #003459;
}

#sec-1 {
    background: #F2E9E4;
}

header {
    padding-top: 4%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0%;
}

#menu-tel {
    display: none;
}

#menu {
    display: flex;
}

#menu .nav {}

#logoBlum {
    margin-left: auto;
    margin-right: auto;
}

header a {
    text-transform: uppercase;
    color: #007EA7;
}

#nav1 {
    margin-left: auto;
    display: flex;
}

#nav2 {
    margin-right: auto;
    display: flex;
}

#grostitre {
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 0%;
    display: flex;
    margin: 2% auto;
}

#grostitre h1 {
    text-transform: uppercase;
    color: #003459;
    margin-bottom: 0px;
    line-height: 32px;
}

#sec-2 {
    max-height: 1496px;
    background: #007EA7;
    padding-top: 3%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 3%;
}

#groupe {
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.nomgroupe {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10%;
    padding-right: 10%;
}

.nomgroupe a {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.9em;
    color: #003459;
}

#membre,
#réalisation {
    display: flex;
    padding-top: 3%;
    padding-bottom: 3%;
}

#membre {
    margin-left: auto;
    margin-right: auto;
}

/*
 * Animations fleches au click
 */
}

.boutonflecheG,
.boutonflecheD,
.boutonfleche-membreG,
.boutonfleche-membreD {
    cursor: pointer;
}

.boutonflecheG {
    margin-left: auto;
    vertical-align: center;
}

.boutonflecheG:active,
.boutonflecheD:active,
.boutonfleche-membreG:active,
.boutonfleche-membreD:active {
    animation-name: animation-fleche;
animation-duration: .2s;
}.boutonflecheD {
    vertical-align: center;
    transform: scaleX(-1);
    margin-right: auto;
}

#oeuvre {}

#photo-membre {}

.boutonfleche-membreG {
    margin-left: auto;
}

.boutonfleche-membreD {
    margin-right: auto;
}

.nom {
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 3%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3%;
    text-align: center;
}

.nom a {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.3em;
    color: #003459;
    border-radius: 20px;
}

.description {
    text-align: center;
    color: #F2E9E4;
    font-weight: bold;
}

.description_tel {
    text-align: center;
    color: #F2E9E4;
    font-weight: bold;
}

#Lauriane_C_desc {
    display: block;
}

#Mathilde_desc {
    display: none;
}

#Loriane_M_desc {
    display: none;
}

#Valentin_desc {
    display: none;
}









footer {
    color: #003459;
    font-weight: bold;
    padding: 4%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 4%;
    display: flex;
}

footer ul {
    list-style: none;
    display: block;
    margin-top: 10%;
}

footer li {
    display: inline;
    margin-top: 5%;
}

#contact {
    text-align: center;
    margin-left: auto;
}

#reseaux {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#iut {
    text-align: center;
    margin-right: auto;
}

footer li a {
    color: #003459;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: auto;
    margin-top: auto;
}

footer h1 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

footer img {
    margin-right: 5%;
}

#footer {
    text-align: center;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

#footer p {
    font-size: 1em;
    color: #007ea7;
    font-weight: bold;
    padding-bottom: 20px;

}

#footer a {
    font-family: 'Rubik', sans-serif;

    line-height: 166%;
    color: #007ea7;
}

#footer a:hover {
    font-family: 'Rubik', sans-serif;
    line-height: 166%;
    color: #003459;
}


#photo-membre {
    display: flex;
    height: auto;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.boutonfleche-membreG,
.boutonfleche-membreD {
    margin-top: 25%;
    margin-bottom: auto;
}

#image-membre-centre {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 60%;
}

/*
 *  -- SOUS-GROUPES --
 */


#Océanie {
    display: flex;
    animation: fadein 1s forwards;
}

#Amerique_du_Sud,
#Europe,
#Amerique_du_Nord {
    display: none;
    animation: fadein 1s forwards;
}

/* Oceanie */

#Lauriane_C {

    display: block;
    animation: fadein 1s forwards;
}

#Mathilde,
#Loriane_M,
#Valentin {
    display: none;
    animation: fadein 1s forwards;
}

/* Europe */

#Corentin,
#Hugo,
#Noe,
#Sean {
    display: none;
    animation: fadein 1s forwards;
}

/* Amerique du Sud */

#Benjamin,
#Nicolas,
#Maxence_BB {
    display: none;
    animation: fadein 1s forwards;
}

/* Amerique du Nord */

#Maxence_F,
#Victoire,
#Elliott,
#Lauriane_S {
    display: none;
    animation: fadein 1s forwards;
}

/* Realisations */

#Paisible {
    animation: fadein 1s forwards;
    display: block;
}

#Trap,
#rea_Amerique_du_Nord,
#rea_Amerique_du_Sud {
    animation: fadein 1s forwards;
    display: none;
}

#Mathilde_desc,
#Loriane_M_desc,
#Valentin_desc {
    animation: fadein 1s forwards;
    display: none;
}

/* Europe */

#Corentin_desc,
#Hugo_desc,
#Noe_desc,
#Sean_desc {
    animation: fadein 1s forwards;
    display: none;
}

/* Amerique du Sud */

#Benjamin_desc,
#Nicolas_desc,
#Maxence_BB_desc {
    animation: fadein 1s forwards;
    display: none;
}

/* Amerique du Nord */

#Maxence_F_desc,
#Victoire_desc,
#Elliott_desc,
#Lauriane_S_desc {
    animation: fadein 1s forwards;
    display: none;
}

/* Realisations */

#Paisible_desc {
    animation: fadein 1s forwards;
    display: block;
}

#Trap_desc,
#rea_Amerique_du_Nord_desc,
#rea_Amerique_du_Sud_desc {
    animation: fadein 1s forwards;
    display: none;
}



@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes animation-fleche {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.2;
    }
}

@keyframes animation-nav {

    from {
        color: #007EA7;
    }

    to {
        color: #003459;
    }
}